@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Satoshi';
  font-style: normal;
  src: url('/src/assets/fonts/Satoshi/Satoshi-Regular.otf');
}

@font-face {
  font-family: 'Satoshi';
  font-style: medium;
  src: url('/src/assets/fonts/Satoshi/Satoshi-Medium.otf');
}

body {
  font-family: 'Satoshi', sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease;
  background-color: #ffffff;
  color: #000000;
}

body.dark {
  background-color: #0a0a0a;
  color: #fcfcfa;
}

.gradientGlow {
  width: 300px; /* Adjust as needed */
  height: 100px; /* Half of the width for a half-circle */
  filter: blur(20px); /* Add a blur effect */
  background: radial-gradient(
    circle at bottom,
    #ffd900f1,
    #f9af1380,
    #fed80055
  );
  border-radius: 100px 100px 0 0; /* Top half-circle */
  box-shadow: 0 0 50px 40px #feda0066; /* Glowing effect */
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  .gradientGlow {
    width: 200px;
    height: 50px;
  }
}

.specialGlow {
  background: conic-gradient(
    from 0deg at 50% 50%,
    #feda00 0deg,
    #ff0019 54.89161972682219deg,
    #feda00 106.69924423399361deg,
    #f9af13 162deg,
    #feda00 252.00000000000003deg,
    #ffda00 306.00000000000006deg,
    #f9af13 360deg
  );
}

@media (min-width: 321px) and (max-width: 375px) {
  .text {
    padding: 0 30px 0 30px;
  }
  .text-gap {
    gap: 25px;
  }
}

@media (min-width: 376px) and (max-width: 425px) {
  .text {
    padding: 0 32px 0 32px;
  }
  .text-gap {
    gap: 28px;
  }
}
@media (min-width: 426px) and (max-width: 768px) {
  .text {
    padding: 0 45px 0 45px;
  }
  .text-gap {
    gap: 41px;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .text {
    padding: 0 68px 0 68px;
  }
  .text-gap {
    gap: 63px;
  }
}

@media (min-width: 1025px) {
  .text-gap {
    gap: 63px;
  }
}

.letter {
  letter-spacing: -0.04em;
  line-height: 1.1em;
}
