@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Satoshi';
  font-style: normal;
  src: url('/src/assets/fonts/Satoshi/Satoshi-Regular.otf');
}

@font-face {
  font-family: 'Satoshi';
  font-style: medium;
  src: url('/src/assets/fonts/Satoshi/Satoshi-Medium.otf');
}

body {
  font-family: 'Satoshi', sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease;
}
